# dependencies
node_modules/
**/node_modules/

# build output
backend/dist/
frontend/dist/
frontend/web/
*.tsbuildinfo

# env
.env
backend/.env
frontend/.env
!.env.example

# logs
*.log
npm-debug.log*

# OS
.DS_Store

# Prisma
backend/prisma/*.db
